body{
    margin: 0;
    padding: 0;
}

.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: #FBE4E4;
}

.title{
    position: relative;
    bottom:30px;
}

.music-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom:30px;
}

.cd-image{
    position: relative;
    bottom: 30px;
    left: 20px;
    width:100px;
    height:100px;
    border-radius: 100%;
    box-shadow: 0 0 10px black;
}

.cd-hole{
    position:absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-left: -116px;
    margin-top: 10px;
    background-color: white;
}

.status{
    background-color: #FCF6F6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px 15px 0 0;
    width: 350px;
    position:relative;
    opacity: 0;
    top:50px;
    height: 80px;
}

.status_title,.status_progress{
    position: relative;
    left: 50px;
    font-weight: 700;
    
}

.control{
    display:flex;
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 400px;
    justify-content: space-around;
    box-shadow: 0 0 20px rgb(231, 136, 150);
}

.control_btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
}

.btn{
    cursor: pointer;
    color:grey;
    opacity: 0.7;
}

.btn_play{
    font-size: 40px;
    position: relative;
    height: 40px;
    bottom: 10px;
}

.btn_previous,.btn_next{
    font-size: 20px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 40%;
    outline: none;
    cursor: pointer;
    height: 20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,255,205,1) 0%, rgba(0,233,208,1) 100%);
    border-radius: 20px;
  }

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

@keyframes showStatus{
    from{
        opacity: 0;
        top:50px;
    }
    to{
        opacity: 1;
        top:0px;
    }
}

@keyframes hideStatus{
    from{
        opacity: 1;
        top: 0px;
    }
    to{
        opacity: 0;
        top:50px;
    }
}

@keyframes rotateCD{
    100%{
        transform: rotateZ(360deg);
    }
}